* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    position: relative;
    display: grid;
    gap: 40px;
    grid-template-rows: 20% 80%;
    padding: 20px;
    background-color: #10b981;
    height: 100vh;
    box-shadow: 1px 1px 8px black inset;
}

h1 {
    font-size: 2.5vw;
}

img {
    vertical-align:middle;
    height: 3vw;
    width: 3vw;
}

.sidebar-titulo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

input {
    border: none;
    border-radius: 3px;
    height: 20px;
    box-shadow: 2px 2px 5px gray;
}

input:hover, input:focus {
    outline: none;
    border: 2px solid #064e3b;
}

label {
    font-size: 1.4rem;
}

label, input
{
    display: inline-block;
    width: 100%;
    text-align: left;
}

.check {
    text-align: left;
    width: 15px;
}

button {
    background-color: #ecfdf5;
    border: none;
    font-weight: bold;
    border: 2px solid #064e3b;
    font-size: 1vw;
    border-radius: 10px;
    height: 40px;
    width: 8vw;
}

button:hover {
    background-color: grey;
    cursor: pointer;
}

button:active {
    background-color: rgb(170, 162, 162);
}

.main-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    background-image: url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    padding: 20px;
    width: 100%;
}

.libros {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 27%));
    grid-auto-rows: 350px;
    gap: 100px;
}

.libros > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    border: 10px solid #064e3b;
    box-shadow: 1px 1px 5px black;
    gap: 10px;
    border-radius: 5px;
}

.libros > div:hover {
    box-shadow: 4px 4px 5px black;
}

.btn-eliminar:hover {
    background-color: rgb(206, 59, 59);
}
.btn-eliminar:active {
    background-color: red;
}

.div-botones {
    position: relative;
    box-shadow: 0px 1px 5px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10b981;
    height: 40%;
    gap: 10px;
}

.añadir-libro {
    height: 500px;
}