* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    display: grid;
    grid-template-rows: 20% 80%;
    padding: 20px;
    background-color: #10b981;
    height: 100vh;
}

label, input
{
    display: inline-block;
    width: 100%;
    text-align: left;
}

.check {
    text-align: left;
    width: 15px;
}

button {
    background-color: #ecfdf5;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    height: 40px;
    width: 110px;
}

button:hover {
    background-color: grey;
}

.main-content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 10% auto;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    background-color: #ecfdf5;
    height: 100vh;
    padding: 20px;
    width: 100%;
}

.libros {
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 25%));
    grid-auto-rows: 300px;
    gap: 100px;
}

.libros > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    gap: 10px;
    border-radius: 5px;
    padding: 20px;
}

.btn-eliminar {

}